<?xml version="1.0" ?>
<robot name="rumba_autocar" xmlns:xacro="http://ros.org/wiki/xacro">

  <!--roomba-->
  <xacro:include filename="$(find create_description)/urdf/create_base.urdf.xacro" />
  <xacro:include filename="$(find create_description)/urdf/create_2_gazebo.urdf.xacro" />

  <xacro:create_base wheel_separation="0.235" base_diameter="0.3485">
    <mesh filename="package://create_description/meshes/create_2.dae" />
  </xacro:create_base>

  <!--realsense-->
  <xacro:arg name="use_nominal_extrinsics" default="false" />
  <xacro:include filename="$(find realsense2_description)/urdf/_d435i.urdf.xacro"/>

  <xacro:sensor_d435i parent="base_link" use_nominal_extrinsics="$(arg use_nominal_extrinsics)">
    <origin xyz="0.12 0 0.09" rpy="0 0 0"/>
  </xacro:sensor_d435i>
  
</robot>