<?xml version="1.0"?>

<launch>
    <arg name="use_imu" default="false"/>
    <arg name="lidar" default="hokuyo"/>

    <!--rumba-->
    <node name="create_driver" pkg="create_driver" type="create_driver" output="screen">
        <rosparam command="load" file="$(arg config)" />
        <param name="robot_model" value="CREATE_2" />
    </node>

    <!--lidar-->
    <node pkg="tf" type="static_transform_publisher" name="base_transform" args="0 0 0.07 0 0 0 base_link robotBase_link 100"/>
    <group if="$(eval lidar == 'hokuyo')">
        <node pkg="tf" type="static_transform_publisher" name="lidar_tf" args="0.1 0 0.06 0 0 0 robotBase_link lidar_link 100"/>
        <node name="urg_node" pkg="urg_node" type="urg_node">
            <param name="ip_address" value="192.168.6.119"/>
            <param name="frame_id" value="lidar_link"/>
        </node>
    </group>
    <group if="$(eval lidar == 'rplidar')">
        <node pkg="tf" type="static_transform_publisher" name="lidar_tf" args="0.1 0 0.06 0 0 0 robotBase_link lidar_link 100"/>
        <include file="$(find rplidar_ros)/launch/rplidar.launch" >
            <arg name="serial" default="/dev/ttyUSB1"/>
            <arg name="frame_id" default="lidar_link"/>
        </include>
    </group>
    <node pkg="laser_filters" type="scan_to_scan_filter_chain" name="laser_filter">
        <rosparam command="load" file="$(find rumba_autocar)/config/laser_filter.yaml"/>
    </node>

    <group if="$(arg use_imu)">
        <node pkg="tf" type="static_transform_publisher" name="imu_tf" args="0 0 0.07 0 0 0 base_link imu_opt 100"/>
        <!--real sense for imu-->
        <arg name="offline"          default="false"/>
        <include unless="$(arg offline)"
        file="$(find realsense2_camera)/launch/rs_camera.launch">
            <arg name="enable_gyro" value="true"/>
            <arg name="enable_accel" value="true"/>
            <arg name="enable_depth" value="false"/>
            <arg name="enable_color" value="false"/>
            <arg name="align_depth" value="true"/>
            <arg name="linear_accel_cov" value="1.0"/>
            <arg name="unite_imu_method" value="linear_interpolation"/>
        </include>
        <node pkg="imu_filter_madgwick" type="imu_filter_node" name="ImuFilter">
            <param name="use_mag" type="bool" value="false" />
            <param name="_publish_tf" type="bool" value="false" />
            <param name="_world_frame" type="string" value="enu" />
            <remap from="/imu/data_raw" to="/camera/imu"/>
            <param name="fixed_frame" type="string" value="camera_link" />
        </node>

        <node name="imu_to_pose" pkg="rumba_autocar" type="imu_to_pose">
            <remap from="imu"  to="/imu/data"/>
        </node>
    </group>

</launch>