<?xml version="1.0"?>
<launch>
    <arg name="config" default="$(find create_bringup)/config/default.yaml" />
    <arg name="nav_mode" default="slam"/>
    <arg name="move_base" default="false"/>
    <arg name="mapFile" default = "$(find rumba_autocar)/resources/myRoom/map.yaml"/>
    <!-- Robot description -->
    <include file="$(find rumba_autocar)/launch/model_show.launch" >
        <arg name="include" value="true"/>
    </include>

    <!--rumba-->
    <node name="create_driver" pkg="create_driver" type="create_driver" output="screen">
        <rosparam command="load" file="$(arg config)" />
        <param name="robot_model" value="CREATE_2" />
        <remap from="cmd_vel" to="roomba/cmd_vel"/>
    </node>

    <include file="$(find rumba_autocar)/launch/sensor.launch" >
        <arg name="use_imu" value="false"/>
        <arg name="lidar" default="hokuyo"/>
    </include>

    <group if="$(eval nav_mode == 'mapping')">
        <!--mapping-->
        <!--gmapping-->
        <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" clear_params="true">
            <rosparam command="load" file="$(find rumba_autocar)/config/gmapping.yaml" />
            <param name="base_frame" value="base_link" />
            <param name="odom_frame" value="odom" />
            <param name="map_frame"  value="map" />
            <remap from="scan"  to="scan_filtered"/>
        </node>
    </group>

    <group if="$(eval nav_mode == 'slam')">
        <!-- amcl -->
        <node pkg="map_server" type="map_server" name="map_server" args="$(arg mapFile)">
            <param name="frame_id" value="map"/>
        </node>
        <node pkg="amcl" type="amcl" name="amcl" clear_params="true">
            <rosparam command="load" file="$(find rumba_autocar)/config/amcl.yaml" />
            <param name="base_frame_id" value="base_link" />
            <param name="odom_frame_id" value="odom" />
            <param name="global_frame_id" value="map" />
            <remap from="scan"  to="scan_filtered"/>
        </node>
    </group>

    <!-- move_base -->
    <group if="$(arg move_base)">
        <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
            <rosparam file="$(find rumba_autocar)/config/move_base/local_costmap_params_old.yaml" command="load" />
            <rosparam file="$(find rumba_autocar)/config/move_base/global_costmap_params_old.yaml" command="load" />
            <rosparam file="$(find rumba_autocar)/config/move_base/base_local_planner_params.yaml" command="load" />

            <param name="global_costmap/global_frame" value="map" />
            <param name="global_costmap/robot_base_frame" value="base_link" />
            <param name="local_costmap/laser_scan_sensor/sensor_frame" value="lidar_link" />
            <param name="local_costmap/laser_scan_sensor/topic" value="scan_filter" />
            <param name="local_costmap/global_frame" value="odom" />
            <param name="local_costmap/robot_base_frame" value="base_link" />
        </node>
    </group>
    <!-- costmap_only -->
    <group unless="$(arg move_base)">
        <node pkg="rumba_autocar" type="costmap_node" name="costmap_node" output="screen">
            <rosparam command="load" file="$(find rumba_autocar)/config/local_costmap_params.yaml" />
        </node>
    </group>



</launch>