<?xml version="1.0"?>
<launch>
    <!--real sense for imu-->
    <arg name="offline"          default="false"/>
    <include unless="$(arg offline)"
        file="$(find realsense2_camera)/launch/rs_camera.launch">
        <arg name="enable_gyro" value="true"/>
        <arg name="enable_accel" value="true"/>
        <arg name="enable_depth" value="false"/>
        <arg name="enable_color" value="false"/>
        <arg name="align_depth" value="true"/>
        <arg name="linear_accel_cov" value="1.0"/>
        <arg name="unite_imu_method" value="linear_interpolation"/>
    </include>
    <node pkg="tf" type="static_transform_publisher" name="imu_tf" args="0 0 0.07 0 0 0 base_link imu_opt 100"/>
    <!--<arg name="offline"          default="false"/>
    <include unless="$(arg offline)"
        file="$(find rumba_autocar)/launch/roomba_realsense.launch">
        <arg name="enable_depth" value="false"/>
        <arg name="enable_color" value="false"/>
        <arg name="align_depth" value="true"/>
        <arg name="linear_accel_cov" value="1.0"/>
        <arg name="unite_imu_method" value="linear_interpolation"/>
        <arg name="imu_optical_frame_id" default="imu_opt"/>
    </include>-->
    <node pkg="imu_filter_madgwick" type="imu_filter_node" name="ImuFilter">
        <param name="use_mag" type="bool" value="false" />
        <param name="_publish_tf" type="bool" value="false" />
        <param name="fixed_frame" type="string" value="imu_opt" />
        <param name="_world_frame" type="string" value="enu" />
        <remap from="/imu/data_raw" to="/camera/imu"/>
    </node>

    <node name="imu_to_pose" pkg="rumba_autocar" type="imu_to_pose">
        <remap from="imu"  to="/imu/data"/>
    </node>

    <!--rviz-->
    <arg name="rvizconfig" default="$(find rumba_autocar)/rviz/check_imu.rviz" />
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />
</launch>