<?xml version="1.0"?>

<launch>
    <node name="urg_node" pkg="urg_node" type="urg_node">
        <arg name="_ip_address" value="192.168.6.119"/>
    </node>

    <include file="$(find hector_slam_launch)/launch/tutorial.launch">
        <arg name="realTime" value="false"/>
        <arg name="baseFrame" default="base_link"/>
        <arg name="odomFrame" default="base_link"/>
    </include>
    <node pkg="tf" type="static_transform_publisher" name="base_to_laser_broadcaster" args="0 0 0 0 0 0 base_link laser 100" />

</launch>
