<?xml version="1.0"?>
<launch>
    <arg name="sim" default="true"/>
    <arg name="world_name" default="turtlebot3_world.world"/>
    <!--<arg name="world_name" default="turtlebot3_house.world"/>-->
    <arg name="model" default="$(find rumba_autocar)/xacro/rumba_autocar.xacro" />
    <arg name="gmapping_config" default="$(find eg_navigation)/config/gmapping.yaml" />

    <!--gazebo-->
    <group if="$(arg sim)">
        <include file="$(find rumba_autocar)/launch/include/sim.launch" >
            <arg name="world_name" value="$(arg world_name)"/>
        </include>
    </group>
    <!--start up roomba-->
    <group unless="$(arg sim)">
        <include file="$(find rumba_autocar)/launch/include/sensor.launch" />
    </group>
    <include file="$(find rumba_autocar)/launch/include/sensor_processor.launch" />

    <!--model show-->
    <include file="$(find rumba_autocar)/launch/include/model_show.launch" >
        <arg name="include" value="true"/>
        <arg name="model" default="$(arg model)" />
    </include>
    <!--slam packages-->
    <include file="$(find eg_navigation)/launch/include/slam_2d.launch">
        <arg name="nav_mode" default="mapping"/>
        <arg name="gmapping_config" default="$(arg gmapping_config)" />
    </include>
    <!--joy stick-->
    <node name="joy_node" pkg="joy" type="joy_node"/>
    <node name="joystickPS4" pkg="eg_mixed" type="joystickPS4">
        <param name="control_rate" value="0.6"/>
        <remap from="cmd_vel" to="ps4/cmd_vel"/>
    </node>

    <!--safety function-->
    <node pkg="eg_mixed" name="laser2pc" type="laser2pc"/>
    <node pkg="eg_safety" name="safety_limit" type="safety_limit" output="screen">
        <param name="max_nn" value="100"/>
        <param name="robot_radius" value="0.2"/>
        <param name="x_max" value="3.0"/>
        <param name="x_min" value="-1.0"/>
        <param name="y_max" value="0.7"/>
        <param name="y_min" value="-0.7"/>
        <param name="loop_rate" value="50"/>
        <param name="dt" value="0.5"/>
        <param name="recovery_start_time" value="0.5"/>

        <remap from="safety_limit/cmd_vel_in" to="ps4/cmd_vel"/>
        <remap from="safety_limit/cmd_vel_out" to="cmd_vel"/>
        <!--<group if="$(arg sim)">
            <remap from="safety_limit/cmd_vel_out" to="diff_drive_controller/cmd_vel"/>
        </group>
        <group unless="$(arg sim)">
            <remap from="safety_limit/cmd_vel_out" to="cmd_vel"/>
        </group>-->
    </node>

    <!--rviz-->
    <arg name="rvizconfig" default="$(find rumba_autocar)/rviz/mapping.rviz" />
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" respawn="true" />

</launch>