<?xml version="1.0"?>
<launch>
    <arg name="simulation" default="true"/>


    <include file="$(find rumba_autocar)/launch/include/basicNavigation.launch">
        <arg name="nav_mode" default="mapping"/>
        <arg name="gazebo" value="$(arg simulation)"/>
        <arg name="move_base" default="false"/>
    </include>

    <!--joystick-->
    <node name="joy_node" pkg="joy" type="joy_node"/>
    <node name="joystickPS4_rumba" pkg="rumba_autocar" type="joystickPS4_rumba"/>

    <!--rviz-->
    <arg name="rvizconfig" default="$(find rumba_autocar)/rviz/mapping.rviz" />
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" respawn="true" />
    
</launch>