<?xml version="1.0"?>

<launch>
    <arg name="filePath" value="$(find rumba_autocar)/csv/way2.csv"/>

    <node name="wpLoad" pkg="rumba_autocar" type="wpLoad" output="screen">
        <param name="filePath" value="$(arg filePath)"/>
        <param name="map_frame_id" value="map"/>
        <remap from="wayPoint/path" to="path"/>
    </node>
    <node name="wpVisualizer" pkg="rumba_autocar" type="wpVisualizer"/>

    <arg name="rvizconfig" default="$(find rumba_autocar)/rviz/path_display.rviz" />
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />

</launch>